libepo/

venv/

flask_session/

MaiO_silje_bepo/flask_session/

MaiO_silje_bepo/src/__pycache__/

MaiO_silje_bepo/src/flask_session/

MaiO_silje_bepo/src/tmp/

MaiO_silje_bepo/src/.env

MaiO_silje_bepo/tmp/

Maio_Web_bepo/node_modules

Maio_Web_bepo/.next

tmp/

.env